<h1>Sign Up Below:</h1>
<form action="/registrations" method="post">
 Name: <input id="name" type="text" name="user[name]">
 Email: <input id="email" type="text" name="user[email]">
 Password: <input id="password" type="text" name="user[password]">

  <input type="submit">
</form>


